:root {
    --color1:#333;
    --color2: rgb(238, 206, 148);
    --color3:white;
    --color4: rgb(92, 10, 92);
    --color5: gray;
    --color6: red;

}

#lock {
    position: relative;
    top: 15px;
}

#rollArea {
    background-color: var(--color2);
    height: 100%;
    width: 500px;
}

table {
    height: 100%;
}

.dice {
    position: relative;
    top: 125px;
    left: 25px;
}

.locked {
    position: relative;
    /* filter: invert(1); */
    top: 20px;
    /* left: 50px; */
}

#divider {
    background-color: var(--color1);
    height: 5px;
    width: 100%;
    position: relative;
    top: 100px;
}

.hidden {
    display: none;
}

th{
    background-color: var(--color1);
    color: var(--color2);
    /* border: inherit; */
}

tr:nth-child(even){
    background-color: var(--color4);
    color: var(--color3);
}

#sum, #bonus, #total {
    background-color: var(--color2);
    color: var(--color1);
}

.unselectable {
    background-color: var(--color5);
    opacity: 0.5;
}

.clickableHand {
    filter: invert(1);
}

#game {
    display: flex;
    height: 100%;
    /* justify-content: center; */
}

#rollButton {
    background-color: var(--color6);

}

button {
    /* background-color: var(--color2);
    color: var(--color4); */
}

.currentPlayer {
    background-color: var(--color6);
}

#diceSelect {
    display: flex;
    flex-direction: column;
    padding: 5px;
    margin: 5px;
    background-color: var(--color5);
    color: var(--color2);
}
