:root {
    --color1:#333;
    --color2: rgb(238, 206, 148);
    --color3:white;
    --color4: rgb(92, 10, 92);

}

#rollArea {
    background-color: var(--color2);
    height: 440px;
    width: 500px;
}


.dice {
    position: relative;
    top: 125px;
    left: 70px;
}

.locked {
    position: relative;
    /* filter: invert(1); */
    top: 25px;
    /* left: 50px; */
}

#divider {
    background-color: black;
    height: 5px;
    width: 500px;
    position: relative;
    top: 100px;
}

.hidden {
    display: none;
}

th{
    background-color: var(--color1);
    color: var(--color2);
}

tr:nth-child(even){
    background-color: var(--color4);
    color: var(--color3);
}

#game {
    display: flex;
    /* justify-content: center; */
}

#rollButton {
    background-color: red;

}
